{% extends 'base.html.twig' %}

{% block title %}Elküldve{% endblock %}

{% block body %}


    <div>
        <p>Köszönjük szépen a kérdésedet. Válaszunkkal hamarosan keresünk a megadott e-mail címen.</p>
    </div>


{% endblock %}
