body {
    background: url('../img/big-bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: Monsterrat;
}


#home-contact {
    background: #ffffff;
    border-radius: 10px;
    height: 700px;
    width: 1150px;
    box-shadow: 2vh 2vh #a30c64;
}

.full-vh {
    height: 100vh;
}
#background-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 20px;
}

#first-column {
    padding: 0;
    margin: 0;
}

.img-container {
    position: relative;
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: 100%;
}

.question-mark {
    position: absolute;
    display: none;
    font-size: 30px;
    font-weight: bold;
    color: #ff1491;
}

#second-column {
    padding-right: 11vw;
    display: block;
    margin-top: 5vh;
}

.input-field, .textarea-field {
    border-radius: 30px;
    background-color:#e6e6e6;
    border:#e6e6e6;
    padding-left: 25px;
}

.input-field {
    height: 50px;
}

.textarea-field {
    height: 150px;
}

.input-field.error,
.textarea-field.error {
    background-color: #e6e6e6;
    background-image: url('../img/exclamationmark.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-position-x: calc(100% - 4px);
}


@keyframes pulse {
    0% { box-shadow: 0 0 0 0 rgba(0,123,255,0.4); }
    70% { box-shadow: 0 0 0 10px rgba(0,123,255,0); }
    100% { box-shadow: 0 0 0 0 rgba(0,123,255,0); }
}

.input-field:focus {
    outline: none;
    animation: pulse 1s;
}

.textarea-field:focus {
    outline: none;
    animation: pulse 1s;
}


.send {
    height: 60px;
    background: #1f42e0;
    border-radius: 30px;
    color: white;
    transition: background 0.3s;
    border: #ff1491 ;
}
.send:hover{
    background: #a30c64;
    opacity: 80%;
}

#success{
 background: #1f42e0;
    color: white;
    width: 900px;
    border-radius: 30px;
    text-align: center;
}

#error{
    background: #a30c64 ;
    opacity: 80%;
    color: white;
    width: 600px;
    border-radius: 30px;
    text-align: center;
}


@media only screen and (max-width: 600px) {
    .full-vh {
        height: auto;
    }

    #second-column {
        padding: 2vh;
    }

    #home-contact {
        height: auto;
        width: 100vw;
        margin-bottom: 50px;
    }
}

@media only screen and (max-height: 600px) {
    .full-vh {
        height: auto;
    }

    #home-contact {
        height: auto;
        margin-bottom: 50px;
    }

    #second-column {
        padding-left: 2vw;
    }
}